* {
  margin: 0;
  padding: 0;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

body {
  background-blend-mode: screen;
  background: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(transparent)), -webkit-gradient(linear, left top, right top, from(skyblue), to(transparent)), -webkit-gradient(linear, right top, left top, from(coral), to(transparent));
  background: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  font-size: 32px;
  text-align: center;
}

.subheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}


.show-resolution_1980 {
  margin: 0 10px;
}

@media (min-width: 1200px) and (max-width: 1980px) {
  .show-resolution_1980 {
    border-bottom: 2px solid red;
  }
}

.show-resolution_1200 {
  margin: 0 10px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .show-resolution_1200 {
    border-bottom: 2px solid red;
  }
}

.show-resolution_768 {
  margin: 0 10px;
}

@media (min-width: 375px) and (max-width: 767.98px) {
  .show-resolution_768 {
    border-bottom: 2px solid red;
  }
}

.slider {
  width: 50%;
  overflow: hidden;
  border: 12px solid #9fc7fc;
  border-radius: 15px;
  background-color: #9fc7fc;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .slider {
    width: 80%;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .slider {
    width: 80%;
    height: auto;
  }
}

.slider-align {
  margin-bottom: 8%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

.navigation {
  margin-left: 95%;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 80px;
  margin-top: -13.0%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .navigation {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .navigation {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 50%;
    margin-top: 2%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.control:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-area {
  width: 40px;
  height: 25px;
  cursor: pointer;
}

input[name="Bender"] {
  display: none;
}

.slides {
  width: 700%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 14.2857%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.slide img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .slide img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 130px;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  margin-top: -15px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .text {
    font-size: 20px;
    margin-bottom: 10%;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .text {
    font-size: 22px;
    width: 100%;
    height: 15%;
    margin-top: 5px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

#inp1:checked ~ .s1 {
  margin-left: 0;
}

#inp2:checked ~ .s1 {
  margin-left: -14.2857%;
}

#inp3:checked ~ .s1 {
  margin-left: -28.5714%;
}

#inp4:checked ~ .s1 {
  margin-left: -42.8571%;
}

#inp5:checked ~ .s1 {
  margin-left: -57.1429%;
}

#inp6:checked ~ .s1 {
  margin-left: -71.4286%;
}

#inp7:checked ~ .s1 {
  margin-left: -85.7143%;
}